.tumcoin-btn{
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0 4px;
}

.tumcoin-btn{
    cursor: pointer;
}

.primary-btn{
    background: var(--primary);
    color: var(--light);
    border: none;
}

.secondary-btn{
    background: var(--light);
    border: 1px solid var(--primary);
    color: var(--primary);

}
.primary-btn-light{
    background: var(--light);
    border: none;

}

.secondary-btn-light{
    background: var(--primary);
    border: 1px solid var(--light);
    color: var(--light);
}


