/* Typography Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Common imports */
@import url('./common/variables.css');

/* Component Imports */
@import url("./components/header.css");
@import url("./components/button.css");
@import url("./components/balance.css");
@import url("./components/transactions.css");


/* Global Styles */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    overflow-x: hidden;
}

.mobile-actions{
    display: none;
}

@media only screen and (max-width: 767px) {

    .mobile-actions{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 90%;
        justify-content: center;
        align-content: center;
        margin: 120px auto auto auto;
    }

    .mobile-actions button{
        margin: 5px 0;
    }
    .tumcoin-text-sm{
        font-size: 0.7em;
    }
}